{% comment %} <div class="picgrid-cx">
    <div class="picgrid">
    {% for pic in ph.pics.all %}
        <a data-fslightbox="gallery" href="{{ pic.pic.url }}">
            <div class="grid-pic-cx">
                <img id="pic-{{ pic.pk }}" data-sort="{{ pic.display_order }}" class="grid-pic" src="{{ pic.pic.url }}" alt="{{ pic.caption }}">
            </div>
        </a>
    {% endfor %}
    </div>
</div> {% endcomment %}
<div class="all-picgrid-cx">
    <div class="all-grid">
        <div class="grid-sizer">
        </div>
    {% for pic in ph.pics.all %}
        <a data-fslightbox="gallery" href="{{ pic.pic.url }}">
            <div class="all-grid-item {% if pic.landscape %}all-grid-item--width2{% endif %}">
                <img id="pic-{{ pic.pk }}" data-sort="{{ pic.display_order }}" class="grid-pic" src="{{ pic.pic.url }}" alt="{{ pic.caption }}">
            </div>
        </a>
    {% endfor %}
    </div>
</div>