{% extends 'portfolio/layouts/base.html' %}
{% load static %}

{% block center %}
<div class="info-section-wrapper">
    <h3 class="info-section-header">
        nosotros
    </h3>
    <div class="info-section-text">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Augue lacus viverra vitae congue eu consequat ac felis donec.
        </p>
        <p>
            Nunc congue nisi vitae suscipit tellus mauris. Nulla pharetra diam sit amet nisl. Scelerisque viverra mauris in aliquam sem. Sagittis purus sit amet volutpat consequat. Ac odio tempor orci dapibus ultrices in iaculis nunc sed. Viverra nibh cras pulvinar mattis nunc. Donec pretium vulputate sapien nec sagittis aliquam malesuada. Semper feugiat nibh sed pulvinar proin. Nisl suscipit adipiscing bibendum est ultricies integer quis. Ullamcorper sit amet risus nullam eget felis eget nunc lobortis.
        </p>
        <p>
            Orci a scelerisque purus semper eget duis. Volutpat ac tincidunt vitae semper quis lectus nulla. Lacus viverra vitae congue eu consequat ac felis donec et. At lectus urna duis convallis convallis.
        </p>
    </div>
</div>

{% endblock center %}