{% extends 'portfolio/layouts/base.html' %}
{% load static %}

{% block center %}
<div class="info-section-wrapper">
    <h3 class="info-section-header">
        nosotros
    </h3>
    <div class="info-section-text about">
        <p>
            Un grupo de fotógrafos, directores y productores en la búsqueda constante de mantener un equilibrio entre el arte y los proyectos comerciales.
        </p>
        <br>
        <p>
            Estimulados por la pasión por la fotografía y las artes visuales, Cumbia se construye sobre el equilibrio de un trabajo original, con un equipo comprometido con la producción de contenidos de alta calidad.
        </p>
    </div>
</div>

{% endblock center %}