{% extends 'portfolio/layouts/base.html' %}
{% load static %}

{% block center %}

<div class="info-section-wrapper">
    <div class="main-contact-cx fat">
        <div class="info-section-text">
            <p>
                Argentina
            </p>
            <p>
                Buenos Aires
            </p>
            <p>
                Libertad 2162
            </p>
            <p>
                Martinez - 1640
            </p>
        </div>
    </div>
    <div class="main-contact-cx">
        <div class="info-section-text">
            <p>
                Monti
            </p>
            <p>
                Co-founder
            </p>
            <p>
                <a class="mail-link" href="mailto:info@cumbiavs.com">
                    monti@cumbiavs.com
                </a>
            </p>
        </div>
    </div>
    <div class="main-contact-cx">
        <div class="info-section-text">
            <p>
                Tomás
            </p>
            <p>
                Co-founder
            </p>
            <p>
                <a class="mail-link" href="mailto:monti@cumbiavs.com">
                    tomas@cumbiavs.com
                </a>
            </p>
        </div>
    </div>
    <div class="main-contact-cx">
        <div class="info-section-text">
            <p>
                Sol
            </p>
            <p>
                Producción
            </p>
            <p>
                <a class="mail-link" href="mailto:monti@cumbiavs.com">
                    sol@cumbiavs.com
                </a>
            </p>
        </div>
    </div>
    
</div>

{% endblock center %}