{% extends 'portfolio/layouts/base.html' %}
{% load static %}

{% block center %}

<div class="info-section-wrapper">
    <div class="main-contact-cx fat">
        <div class="info-section-text">
            <p>
                Argentina
            </p>
            <p>
                Buenos Aires
            </p>
            <p>
                Libertad 2162
            </p>
            <p>
                Martinez - 1640
            </p>
        </div>
    </div>
    <div class="main-contact-cx">
        <div class="info-section-text">
            <p>
                Monti
            </p>
            <p>
                Co-founder
            </p>
            <p>
                <a class="mail-link" href="mailto:info@cumbiavs.com">
                    monti@cumbiavs.com
                </a>
            </p>
        </div>
    </div>
    <div class="main-contact-cx">
        <div class="info-section-text">
            <p>
                Tomás
            </p>
            <p>
                Co-founder
            </p>
            <p>
                <a class="mail-link" href="mailto:monti@cumbiavs.com">
                    tomas@cumbiavs.com
                </a>
            </p>
        </div>
    </div>
    <div class="main-contact-cx">
        <div class="info-section-text">
            <p>
                Sol
            </p>
            <p>
                Producción
            </p>
            <p>
                <a class="mail-link" href="mailto:monti@cumbiavs.com">
                    sol@cumbiavs.com
                </a>
            </p>
        </div>
    </div>

    <h3 class="info-section-header partner">Partners</h3>
    
    <div class="main-contact-cx fat">
        <div class="info-section-text">
            <p>
                Chile
            </p>
            <p>
                Cinemágica
            </p>
            <p>
            +56 2 2571 9900
            <br>
            +56 9 7986 2255
        </p>
        <p>
            <a class="mail-link" href="mailto:tomas@cinemagica.cl">
                tomas@cinemagica.cl
            </a>
        </p>
        </div>
    </div>
    
</div>

{% endblock center %}