{% extends 'portfolio/layouts/base.html' %}
{% load static %}

{% block center %}

<div class="info-section-wrapper">
    <h3 class="info-section-header">
        cumbia
    </h3>
    <div class="info-section-text">
        <p>
            +54 116 456 7890
        </p>
        <p>
            mail@cumbia.com
        </p>
    </div>
    {% comment %} <h3 class="info-section-header title">
        partners
    </h3> {% endcomment %}
    <div class="partners-cx">
        <div class="partner-cx">
            <h3 class="info-section-header partner">
                tresbien
            </h3>
            <div class="info-section-text">
                <p>
                    +54 116 098 7654
                </p>
                <p>
                    mail@tresbien.com.ar
                </p>
            </div>
        </div>
        <div class="partner-cx">
            <h3 class="info-section-header partner">
                cinemagica
            </h3>
            <div class="info-section-text">
                <p>
                    +54 116 555 5555
                </p>
                <p>
                    mail@cinwmagica.com
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock center %}