{% extends 'portfolio/layouts/public_base.html' %}
{% load static %}

{% block content %}

{% comment %} <header class="main-header big">
    <img id="full-screen-iso" src="/media/logos/cumbia-iso-negro.png" alt="">
    <img id="full-screen-logo" src="/media/logos/cumbia-logo-negro.png" alt="">
</header> {% endcomment %}

<section class="top-ws">

</section>

<section class="center-cx">
    {% comment %} <header id="brand-center-header" class="center-header">
        <img id="brand-center-img" src="/media/logos/cumbia-logo-negro.png" alt="">
    </header> {% endcomment %}
{% for ph in photographers %}
    <div class="main-img-cx">
        <img id="ph-{{ ph.id }}" class="faded-out" src="{{ ph.photo.url }}" alt="">
    </div>
{% endfor %}
</section>

{% endblock content %}