{% extends 'portfolio/layouts/base.html' %}
{% load static %}

{% block bigheader %}

{% if not edit_mode %}
<header class="main-header big"> 
    <img id="full-screen-logo" src="/media/logos/cumbia-logo-negro.png" alt="">
</header>
{% endif %}

{% endblock bigheader %}

{% block center %}

<header id="brand-center-header" class="center-header">
    <img id="brand-center-img" src="/media/logos/cumbia-logo-negro-medium.png" alt="">
</header>
    
{% for ph in photographers %}
<div class="main-pic-cx">
{% if ph.main_pic %}
    <img id="pic-{{ ph.pk }}" class="faded-out" src="{{ ph.main_pic.pic.url }}" alt="">
{% endif %}
</div>
{% endfor %}

{% endblock center %}