<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'portfolio/style.css' %}">
    <title>Cumbia</title>
</head>
<body>
    <script defer src="/base.js" type="text/javascript"></script>
    <main class="main-grid">
        <header class="main-header big">
            <img id="full-screen-iso" src="/media/logos/cumbia-iso-negro.png" alt="">
            <img id="full-screen-logo" src="/media/logos/cumbia-logo-negro.png" alt="">
        </header>  
        <nav id="main-nav" class="left-nav">
            <ul class="ph-links">
            {% for ph in photographers %}
                <li class="ph-link" value="{{ ph.id }}">
                    <a href="#">
                        <h4>{{ ph.name }}</h4>
                    </a>
                </li>
            {% endfor %}
            </ul>
        </nav>
        <section class="top-ws">

        </section>
        <section class="center-cx">
            <header id="brand-center-header" class="center-header">
                <img id="brand-center-img" src="/media/logos/cumbia-logo-negro.png" alt="">
            </header>
        {% for ph in photographers %}
            <div class="main-img-cx">
                <img id="ph-{{ ph.id }}" class="faded-out" src="{{ ph.photo.url }}" alt="">
            </div>
        {% endfor %}
        </section>
        <section class="pho-info">
            <div class="pho-info-cx">
            {% for ph in photographers %}
                <div id="ph-info-{{ ph.id }}" class="faded-out pho-info-each">
                    <div class="pho-info-ph-name">
                        <h3>{{ ph.name }}</h3>
                    </div>
                    <div class="pho-info-ph-caption">
                        <h5>{{ ph.photo.caption }}</h5>
                    </div>
                </div>
            {% endfor %}
            </div>
        </section>
        <footer class="contact-footer">
            <ul class="contact-links-cx">
                <li class="contact-link">
                    <a href="#">
                        <h4>nosotros</h4>
                    </a>
                </li>
                <li class="contact-link">
                    <a href="https://www.instagram.com/cumbia.vs/">
                        <h4>instagram</h4>
                    </a>
                </li>
                <li class="contact-link">
                    <a href="#">
                        <h4>contacto</h4>
                    </a>
                </li>
            </ul>

        </footer>
    </main>
</body>
</html>