{% extends 'portfolio/layouts/base.html' %}
{% load static %}
{% load extra_tags %}

{% block center %}
    <div class="confirm-center">
    {% if ph.green %}
        <div>
            <p>Usted está creando el PH <strong>{{ ph }}</strong>,</p>
            <p>con un total de <strong>{{ ph.pics.count }} fotos</strong>,</p>
            <p>en estado: <strong>{% if ph.show %}visible{% else %}oculto{% endif %}</strong>.</p>
        </div>
    {% elif ph.yellow %}
        <div>
            <p>Usted está creando el PH <strong>{{ ph }}</strong>,</p>
            <p>con un total de <strong>{{ ph.pics.count }} fotos</strong>,</p>
            <p>en estado: <strong>visible</strong>.</p>
            <br>
            <small>*Para la correcta visualización, se recomienda un mínimo de 5 fotos por PH.</small>
        </div>
    {% elif ph.red %}
        <div>
            <p>Usted está creando el PH <strong>{{ ph }}</strong>,</p>
            <p>sin fotos asignadas.</p>
            <p>El fotógrafo permanecerá <strong>no visible</strong> hasta que se le asignen fotos a su portfolio.</p>
        </div>
    {% endif %}
    </div>
{% endblock center %}
{% block section_actions %}
    {% action_btn 'EDITAR' 'edit-ph' 'secondary' section=True url='portfolio:ph_edit' pk=ph.pk %}
    {% action_btn '+ FOTOS' 'add-pics' 'secondary' section=True url='portfolio:ph_add_first' pk=ph.pk %}
    {% action_btn 'CONFIRMAR' 'confirm-ph' 'accent' section=True url='portfolio:ph_detail_pics' pk=ph.pk %}
{% endblock section_actions %}