{% extends 'portfolio/layouts/base.html' %}
{% load static %}

{% block center %}
    <div class="confirm-center">
    {% if ph.green %}
        <div>
            <p>Usted está creando el PH <strong>{{ ph }}</strong>,</p>
            <p>con un total de <strong>{{ ph.pics.count }} fotos</strong>,</p>
            <p>en estado: <strong>{% if ph.show %}visible{% else %}oculto{% endif %}</strong>.</p>
        </div>
    {% elif ph.yellow %}
        <div>
            <p>Usted está creando el PH <strong>{{ ph }}</strong>,</p>
            <p>con un total de <strong>{{ ph.pics.count }} fotos</strong>,</p>
            <p>en estado: <strong>visible</strong>.</p>
            <br>
            <small>*Para la correcta visualización, se recomienda un mínimo de 5 fotos por PH.</small>
        </div>
    {% elif ph.red %}
        <div>
            <p>Usted está creando el PH <strong>{{ ph }}</strong>,</p>
            <p>sin fotos asignadas.</p>
            <p>El fotógrafo permanecerá <strong>no visible</strong> hasta que se le asignen fotos a su portfolio.</p>
        </div>
    {% endif %}
    </div>
{% endblock center %}
{% block section_actions %}
    <a href="{% url 'portfolio:ph_edit' ph.pk %}">
        <button id="edit-ph-btn" class="action-btn section secondary">EDITAR</button>
    </a>
    <a href="{% url 'portfolio:ph_add_first' ph.pk %}">
        <button id="add-pics-btn" class="action-btn section secondary">+ FOTOS</button>
    </a>
    <a href="{% url 'portfolio:ph_detail_pics' ph.pk %}">
        <button id="confirm-ph-btn" class="action-btn section accent">CONFIRMAR</button>
    </a>
{% endblock section_actions %}