{% extends 'portfolio/layouts/base.html' %}
{% load static %}
{% load extra_tags %}

{% block center %}
{% if gallery.type == 'center' %}
    {% include gallery.path %}
{% endif %}
{% endblock center %}

{% block main %}
{% if gallery.type == 'horizontal' %}
    {% include gallery.path %}
{% endif %}
{% endblock main %}

{% block section_actions %}
{% if gallery.type == 'horizontal' %}

    {% action_btn 'EDITAR PH' 'edit-ph' 'secondary' section=True url='portfolio:ph_edit' pk=ph.pk %}
    {% action_btn 'BORRAR' 'delete-pic' 'secondary' section=True %}
    {% action_btn 'MAIN' 'choose-main-pic' 'secondary' section=True %}
    {% action_btn '+' 'add-pics' 'accent' section=True url='portfolio:ph_add_pics' pk=ph.pk %}

{% endif %}
{% endblock section_actions %}