{% extends 'portfolio/layouts/base.html' %}
{% load static %}


{% block main %}

<div class="air-cx">
</div>

<div class="hscroll-cx">
    <ul class="pic-row drag-container">
    {% for pic in ph.pics.all %}
        <li class="pic-cx">
            <a data-fslightbox="gallery" href="{{ pic.pic.url }}">
                <img id="pic-{{ pic.pk }}" src="{{ pic.pic.url }}" alt="{{ pic.caption }}">
            </a> 
        </li>
    {% endfor %}
    </ul>
</div>

{% endblock main %}
{% block section_actions %}
<a href="#">
    <button id="edit-ph-btn" class="action-btn secondary section">EDITAR</button>
</a>
    <button id="delete-pics-btn" class="action-btn secondary section">BORRAR</button>
    <button id="choose-main-pic-btn" class="action-btn secondary section">MAIN</button>
<a href="#">
    <button id="add-pics-btn" class="action-btn accent section">+</button>
</a>
{% endblock section_actions %}