{% extends 'portfolio/layouts/base.html' %}
{% load static %}


{% block main %}

<div class="air-cx">
    
</div>

<div class="hscroll-cx">
    <ul class="pic-row drag-container" data-targetpk="{{ ph.pk }}">
    {% comment %} <ul class="pic-row {% if edit_mode %}drag-container{% endif %}" data-targetpk="{{ ph.pk }}"> {% endcomment %}
    {% for pic in ph.pics.all %}
        <li id="pic-cx-{{ pic.pk }}" class="pic-cx" data-elpk="{{ pic.pk }}">
            <a data-fslightbox="gallery" href="{{ pic.pic.url }}">
                <img class="pic" src="{{ pic.pic.url }}" alt="{{ pic.caption }}">
            </a>
            <span class="x-is-delete disabled">X</span>
            <span class="o-is-main {% if pic.is_main %}this-one{% endif %} disabled"></span>
        </li>
    {% endfor %}
    </ul>
</div>

{% endblock main %}

{% block section_actions %}
<a href="{% url 'portfolio:ph_edit' ph.pk %}">
    <button id="edit-ph-btn" class="action-btn section secondary">EDITAR PH</button>
</a>
    <button id="delete-pics-btn" class="action-btn section secondary">BORRAR</button>
    <button id="choose-main-pic-btn" class="action-btn section secondary">MAIN</button>
<a href="{% url 'portfolio:ph_add_pics' ph.pk %}">
    <button id="add-pics-btn" class="action-btn section accent">+</button>
</a>
{% endblock section_actions %}