{% extends 'portfolio/layouts/base.html' %}
{% load static %}

{% block main %}

<div class="air-cx">
    
</div>

<div class="grid-wrapper">
    <div class="pic-grid">
    {% for pic in ph.pics.all %}
        <div class="pic-item">
            <a data-fslightbox="gallery" href="{{ pic.pic.url }}">
                <img id="pic-{{ pic.pk }}" class="pic-item-content" src="{{ pic.pic.url }}" alt="{{ pic.caption }}">
            </a> 
        </div>
    {% endfor %}
    </div>
</div>

{% endblock main %}

{% block extra_actions %}

<button class="action-btn extra-action">+ FOTOS</button>
<button class="action-btn secondary-action">EDITAR</button>

{% endblock extra_actions %}