{% extends 'portfolio/layouts/base.html' %}
{% load static %}
{% load extra_tags %}

{% block center %}
    <form id="create-ph-form" class="form-center" action="" method="POST">
        {% csrf_token %}
        <div class="form-fields-cx">
            <div class="form-field">
                <label class="form-field-label" for="first_name">Nombre*</label>
                {{ form.first_name }}
            </div>
            <div class="form-field">
                <label class="form-field-label" for="last_name">Apellido*</label>
                {{ form.last_name }}
            </div>
            <div class="form-field">
                <label class="form-field-label" for="display_name">Seudónimo</label>
                {{ form.display_name }}
            </div>
            <div class="form-field">
                <label class="form-field-label" for="country">País</label>
                {{ form.country }}
            </div>
            <div class="form-field">
                <label class="form-field-label" for="show">Mostrar</label>
                {{ form.show }}
                <label id="show-hide-tgl" class="tgl-btn" for="show"></label>
            </div>
        </div>
    </form>
{% endblock center %}
{% block section_actions %}
    {% action_btn 'VOLVER' 'get-back' 'secondary' section=True url='portfolio:ph_detail_pics' pk=ph.pk %}
    {% action_btn 'ELIMINAR' 'delete-ph' 'secondary' section=True url='portfolio:ph_delete' pk=ph.pk %}
    {% action_btn 'CONFIRMAR' 'edit-ph' 'accent' section=True form="create-ph-form" %}
{% endblock section_actions %}