[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
psycopg2 = "*"
django-extensions = "*"
python-decouple = "*"
shortuuid = "*"
selenium = "*"
pillow = "*"

[dev-packages]
ipython = "*"
jupyter = "*"
flake8 = "*"

[requires]
python_version = "3.8"
