<div class="picgrid-cx">
    <div class="picgrid">
    {% for pic in ph.pics.all %}
        <div class="grid-pic-cx">
            <img id="pic-{{ pic.pk }}" class="grid-pic" src="{{ pic.pic.url }}" alt="{{ pic.caption }}">
        </div>
    {% endfor %}
    </div>
    <div class="actions-cx">
        <a href="{% url 'portfolio:ph_add_pics' ph.pk %}">
            <button id="add-pics-btn" class="action-btn main-action">AGREGAR</button>
        </a>
        <a href="{% url 'portfolio:ph_detail' ph.pk %}">
            <button id="confirm-btn" class="action-btn secondary-action">VER</button>
        </a>
    </div>
</div>