<section class="r-info">
    <div class="r-info-cx">
    {% if segment != 'index' %}
        <div class="brand-top-cx">
            <a href="{% url 'portfolio:index' %}">
                <img class="brand-top-logo" src="/media/logos/cumbia-logo-negro-small.png" alt="">
            </a>
        </div>
    {% endif %}
    {% if segment == 'detail' %}
        <ul class="top-links-cx">
            <li class="generic-link">
                <a href="{% url 'portfolio:ph_detail_pics' ph.pk %}">
                    <h5>foto</h5>
                </a>
            </li>
            <li class="generic-link dim">
                <a href="{% url 'portfolio:ph_detail_all' ph.pk %}">
                    <h5>all</h5>
                </a>
            </li>
        </ul>
    {% endif %}
    {% comment %} {% for ph in photographers %}
        <div id="ph-info-{{ ph.pk }}" class="faded-out pic-info-each">
            <div class="pic-info-ph-name">
                <h3>{{ ph.display_name }}</h3>
            </div>
            <div class="pic-info-ph-caption">
                <h5>{{ ph.photo.caption }}</h5>
            </div>
        </div>
    {% endfor %} {% endcomment %}
    </div>
</section>