{% load extra_tags %}

<section class="r-nav">

    {% if segment != 'index' %}
        <div class="brand-top-cx">
            <a href="{% url 'portfolio:index' %}">
                <img class="brand-top-logo" src="/media/logos/cumbia-logo-negro-small.png" alt="">
            </a>
        </div>
    {% else %}
    {% if edit_mode %}
        <div class="brand-top-cx">
            {% action_btn '+ ADMIN' 'create-user' 'secondary' url='portfolio:user_create' %}
        </div>
    {% endif %}
    {% endif %}
    {% if segment == 'detail' %}
        <ul class="top-links-cx">
            <li class="generic-link {% if sub_segment != 'pics' %}dim{% else %}highlight{% endif %}">
                <a href="{% url 'portfolio:ph_detail_pics' ph.pk %}">
                    <h5>foto</h5>
                </a>
            </li>
            <li class="generic-link {% if sub_segment != 'all' %}dim{% else %}highlight{% endif %}">
                <a href="{% url 'portfolio:ph_detail_all' ph.pk %}">
                    <h5>all</h5>
                </a>
            </li>
        </ul>
    {% endif %}

</section>