<footer class="r-footer">
    <ul class="contact-links-cx">
        <li class="contact-link">
            <a href="{% url 'portfolio:about' %}">
                <h4>nosotros</h4>
            </a>
        </li>
        <li class="contact-link">
            <a href="https://www.instagram.com/cumbia.vs/" target="_blank">
                <h4>instagram</h4>
            </a>
        </li>
        <li class="contact-link">
            <a href="{% url 'portfolio:contact' %}">
                <h4>contacto</h4>
            </a>
        </li>
    </ul>
</footer>