@import './variables';

button.action-btn {
	border-radius: 0;
	background: none;
	border-width: 2px;
    border-style: solid;
	padding: .6rem .2rem;
    font-weight: bold;
    cursor: pointer;
    width: 110px;
    margin: 10px;
}

button.action-btn.main {
    color: $brand-black;
    border-color: $brand-black;
}
button.action-btn.secondary {
    color: $brand-gray;
    border-color: $brand-gray;
}
button.action-btn.accent {
    color: $accent;
    border-color: $accent;
}

