@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://use.typekit.net/frh1wpm.css");
@import url(/Users/Zeta/CODE/PROJECTS/WORK/cumbia/core/static/src/css/basic_dropzone.css);
@import url(/Users/Zeta/CODE/PROJECTS/WORK/cumbia/core/static/src/css/dropzone.css);
@import url(/Users/Zeta/CODE/PROJECTS/WORK/cumbia/core/static/src/css/splide-default.min.css);
button.action-btn {
  border-radius: 0;
  background: none;
  border-width: 2px;
  border-style: solid;
  padding: 0.6rem;
  font-weight: bold;
  cursor: pointer;
  width: 120px;
}

button.action-btn.main-action {
  color: coral;
  border-color: coral;
}

@-webkit-keyframes shrink {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  99% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes shrink {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  99% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  color: #282828;
  font-family: termina, sans-serif;
  font-weight: 400;
}

h1 {
  font-weight: 900;
  font-size: 5.5rem;
}

h2 {
  font-weight: 900;
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 0.7rem;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 1rem;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

.faded-out {
  opacity: 0;
}

.faded-in {
  opacity: 1;
}

#edit-mode {
  display: none;
}

.edit-element {
  visibility: hidden;
}

.edit-element.enabled {
  visibility: visible;
}

main.main-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  -ms-grid-columns: (1fr)[16];
      grid-template-columns: repeat(16, 1fr);
  width: 100%;
  height: 100vh;
}

header.main-header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 12;
  grid-row: 1 / 13;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
}

#full-screen-logo {
  width: 100%;
  display: none;
}

#full-screen-iso {
  width: 40%;
}

.ph-link {
  padding: .8vh 0 .8vh 1vw;
}

nav.gen-nav {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1 / 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  max-width: 20vw;
  padding-top: 1vh;
}

section.base-center {
  grid-column: 5 / -4;
}

section.base-center.center {
  -ms-grid-row: 1;
  -ms-grid-row-span: 12;
  grid-row: 1 / 13;
}

section.r-info {
  grid-row: 1 / -1;
  grid-column: -4 / -1;
}

footer.main-footer {
  grid-row: -2 / -1;
  grid-column: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

nav.gen-nav .ph-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

li.ph-link {
  -webkit-transition: color .1s linear;
  transition: color .1s linear;
}

li.ph-link:hover:not(.highlight) {
  color: #ff859a;
}

li.ph-link.dim {
  color: #ff859a;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  padding: 0 0 0 1vw;
}

li.ph-link.dim h5 {
  line-height: .5rem;
}

li.ph-link.dim:hover {
  color: #282828;
}

li.ph-link.highlight {
  margin: 0;
}

li.ph-link.highlight a {
  cursor: default;
}

li.ph-link.highlight h5 {
  font-weight: bold;
  white-space: nowrap;
  font-size: 2.5rem;
}

section.base-center.center {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

header.center-header {
  text-align: right;
}

#brand-center-header {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center-cx {
  -ms-grid-row: 2;
  -ms-grid-row-span: 10;
  grid-row: 2 / 12;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#brand-center-header img,
.center-cx img {
  max-width: 60vw;
  max-height: auto;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

#brand-center-header img {
  max-width: 35vw;
  margin-bottom: 20px;
}

.air-cx,
.hscroll-cx {
  grid-column: 4 / -1;
}

.air-cx {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1 / 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hscroll-cx {
  -ms-grid-row: 6;
  -ms-grid-row-span: 6;
  grid-row: 6 / 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.r-info-cx {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.brand-top-cx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 10vh;
  padding-top: 1vh;
}

.brand-top-cx,
.pic-info-each {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.brand-top-logo {
  width: 60%;
}

.r-info-cx,
.contact-links-cx {
  padding-right: 1vw;
  text-align: right;
}

.contact-link {
  -webkit-transition: color .1s linear;
  transition: color .1s linear;
}

.contact-link h5 {
  line-height: 1.1rem;
}

.contact-link:hover {
  color: coral;
}

.dropzone-cx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 1.4rem;
}

.actions-cx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15%;
  width: 100%;
}

.carrousel-cx {
  height: 100%;
  width: 100%;
}

.carrousel-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.splide__slide img {
  height: auto;
  width: 100%;
}

.info-section-wrapper {
  padding: 2vh 2vw;
  height: 100%;
}

.info-section-header {
  width: 100%;
  text-align: center;
}

.info-section-text {
  text-align: center;
}

.info-section-text p {
  margin: 2vh 0;
}

.grid-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.pic-grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-flow: dense;
}

ul.pic-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 80vw;
  overflow-y: scroll;
}

li.pic-cx {
  height: 48vh;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
  margin: 0.1vw;
}

li.pic-cx img {
  max-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}

li.pic-cx:hover {
  opacity: .8;
}

#edit-ph-list-cx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5vh 1vw;
}

#edit-pics-cx {
  padding: 0.3rem;
}

.edit-btn {
  color: #ff859a;
  border: 1px solid #ff859a;
  padding: 2px 8px;
}
/*# sourceMappingURL=style.css.map */