@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://use.typekit.net/frh1wpm.css");
@import './variables';
@import './buttons';
@import './toggle';
@import './basic_dropzone.css';
@import './dropzone.css';
@import 'splide-default.min.css';
@import 'dragula.css';


@mixin startStart {
    display: flex;
}
@mixin centerCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin aroundCenter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin startEnd {
    display: flex;
    align-items: flex-end;
}
@mixin startCenter {
    display: flex;
    align-items: center;
}
@mixin endEnd {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
@mixin endCenter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@mixin endStart {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
@mixin betweenStart {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
@mixin betweenCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin colCenterCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin colCenterStart {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin colCenterAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
@mixin colStartStart {
    display: flex;
    flex-direction: column;
}
@mixin colStartEnd {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
@mixin colEndEnd {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
@mixin colAroundCenter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
@mixin colAroundStart {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@mixin colAroundEnd {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
@mixin fullSize {
    height: 100%;
    width: 100%;
}

@keyframes shrink {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.3);
    }
    99% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    font-size: 16px;
    overscroll-behavior: none;
}
body {
    color: $brand-black;
    font-family: termina, sans-serif;
    font-weight: 400;
}
h1 {
    font-weight: 900;
    font-size: 5.5rem;
}
h2 {
    font-weight: 900;
    font-size: 3.5rem;
}
h3 {
	font-size: 2.5rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
}
h4 {
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
	line-height: 0.7rem;
}
h5 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    line-height: 1.6rem;
}
a {
    text-decoration: none;
    color: unset;
}
li {
    list-style: none;
}
.faded-out {
    opacity: 0;
}
.faded-in {
    opacity: 1;
}
#edit-mode {
    display: none;
}

main.main-grid {
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(16, 1fr);
    width: 100%;
    height: 100vh;
    
    header.main-header {
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        @include centerCenter;
        background-color: white;
        z-index: 1000;
        overflow-x: hidden;
        overflow-y: hidden;
        transition: opacity .5s ease-out;
    }
    nav.gen-nav {
        grid-row: 1 / -1;
        grid-column: 1 / 4;
        max-width: 20vw;
        padding-top: 1vh;
        .ph-links {
            @include colStartStart;
            height: 100%
        }
    }
    section.base-center {
        grid-column: 4 / -4;
    }
    section.base-center.center {
        grid-row: 1 / 13;
        display: grid;
        grid-template-rows: repeat(9, 1fr);
        grid-template-columns: repeat(3, 1fr);
        
        .center-cx {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(3, 1fr);
            grid-row: 2 / -2;
            grid-column: 1 / 4;
        }
    }
    section.r-info {
        grid-row: 1 / -1;
        grid-column: -4 / -1;
    }
    nav.action-bar,
    footer.main-footer {
        grid-row: -2 / -1;
        grid-column: 1 / -1;
        @include endEnd;
    }
    nav.action-bar {
        .extra-actions {
            @include centerCenter;
            width: 40%;
        }
        .l-actions {
            @include startCenter;
        }
        .r-actions {
            @include endCenter;
        }
        .l-actions,
        .r-actions {
            width: 30%;
        }
    }
}

#full-screen-logo {
    width: 100%;
}

li.ph-link {
    transition: color .1s linear;
    padding: 0 0 0 1vw;
}
li.generic-link.dim,
li.ph-link.dim {
	color: $brand-gray;
    transition: all .3s ease-out;
}
li.ph-link.highlight {
    margin: 8px 0;
}
li.ph-link.unshowable.dim,
li.ph-link.unshowable.highlight,
li.ph-link.unshowable {
    color: coral;
}

li.ph-link:hover:not(.highlight) {
    color: $brand-gray;
}
li.ph-link.dim:hover {
    color: $brand-black;
}
li.generic-link.dim:hover {
    color: coral;
}
li.ph-link.dim h5 {
    line-height: 1.6rem;
    letter-spacing: 1px;
}
li.ph-link.highlight:not(.unshowable) h5 {
    font-weight: bold;
	// white-space: nowrap;
	font-size: 2rem;
}

header.center-header {
    text-align: right;
}
#brand-center-header {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    @include centerCenter;
}
#brand-center-header img,
.center-cx img,
.main-pic-cx img {
    max-width: 60vw;
    max-height: 77vh;
    object-fit: cover;
    transition: opacity $x-fade linear;
}
#brand-center-header img {
    max-width: 45vw;
    margin-bottom: 20px;
}
.main-pic-cx {
    grid-row: 1 / 4;
    grid-column: 1 / 4;
    @include centerCenter;
    padding: 2vw;
}

.air-cx,
.hscroll-cx {
    grid-column: 4 / -1;
}
.air-cx {
    grid-row: 1 / 4;
    @include endEnd;
}
.hscroll-cx {
	grid-row: 4 / -2;
    @include endEnd;
}

.r-info-cx {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}
.brand-top-cx {
    @include endStart;
    height: 10vh;
    padding: 0.9vw 0.6vw 1.6vh 0;
}
.brand-top-cx,
.pic-info-each {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    transition: opacity $x-fade linear;
}
.brand-top-logo {
    width: 73%;
}
.top-links-cx {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.r-info-cx,
.top-links-cx,
.generic-links-cx {
    text-align: right;
}
.top-links-cx,
.generic-links-cx {
    padding: 0 1vw 1.6vh 0;
}

.generic-link {
    transition: color .1s linear;
    
    h5 {
        line-height: 1.1rem;
    }
    
    &:hover {
        color: coral;
    }
}

.picgrid-cx,
.dropzone-cx {
    @include colCenterStart;
    @include fullSize;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
.picgrid {
    @include fullSize;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    overflow-x: scroll;
}

.grid-pic-cx {
    @include centerCenter;
    width: 200px;
    justify-self: center;
    
    .grid-pic {
        object-fit: cover;
        width: 100%;
        max-height: 180px;
        object-position: top;
    }
}
.actions-cx {
    @include centerCenter;
    height: 15%;
    width: 100%;
}

.info-section-wrapper {
    padding: 2vh 2vw;
    height: 100%;
}
.info-section-header {
    width: 100%;
    text-align: center;
}
.info-section-text {
    text-align: center;
}
.info-section-text p {
    margin: 2vh 0;
}

.grid-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
.pic-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    grid-auto-flow: dense;
}

ul.pic-row {
    display: flex;
    flex-wrap: nowrap;
    width: 80vw;
    overflow-y: scroll;
}

li.pic-cx {
    height: 48vh;
    flex-grow: 1;
    transition: opacity .3s ease-out;
    margin: 0.1vw;
    position: relative;
    
    img {
        max-height: 100%;
        min-width: 100%;
        object-fit: cover;
        vertical-align: bottom;
    }
    .o-is-main,
    .x-is-delete {
        color: white;
        font-weight: bolder;
        z-index: 1001;
        position: absolute;
        top: 4px;
        right: 10px;
        font-size: 2rem;
        opacity: 0.7;
        cursor: pointer;
    }
    .o-is-main {
        top: 10px;
        height: 35px;
        width: 35px;
        background-color: white;
        border-radius: 50%;
    }
    .o-is-main.this-one {
        background-color: black;
    }
    .o-is-main.disabled,
    .x-is-delete.disabled {
        display: none;
    }

    &:hover {
        opacity: .8;
    }
}


#edit-ph-list-cx {
    @include startStart;
    padding: .5vh 1vw;
}
#edit-pics-cx {
    padding: 0.3rem;
}


.edit-btn {
    color: $brand-gray;
    border: 1px solid $brand-gray;
    padding: 2px 8px;
}

.form-center {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    padding: 15% 20%;
    
    .form-fields-cx {
        @include colCenterCenter;
        
        .form-field {
            @include betweenStart;
            width: 100%;
            min-height: 3rem;
            padding: .4rem;
            
            textarea,
            input,
            label {
                padding: 5px;
            }
            label {
                line-height: 2rem;
            }
            textarea,
            input {
                width: 100%;
                border: none;
                border-bottom: 2px solid $brand-gray;
                margin-left: 1rem;
            }
            textarea {
                height: 5rem;
            }
            ul li {
                font-size: .5rem;
                color: red;
            }
            textarea:focus,
            input:focus {
                outline: none;
            }
            textarea:focus-visible,
            input:focus-visible {
                border-bottom: 3px solid $brand-black;
            }
            textarea:focus:invalid,
            input:focus:invalid {
                background: none;
                border-bottom: 3px solid red;
            }
        }
    }
}

.confirm-center {
    grid-column: 1 / -1;
    grid-row: 2 / -2;
    text-align: center;
    padding: 0 6rem;
    
    p {
        font-size: 1.2rem;
    }
}

.feedback-cx {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -18vw;
    @include colCenterStart;
    
    .feedback-card {
        width: 36vw;
        min-width: 400px;
        margin-bottom: 10px;

        p {
            font-size: 0.9rem;
            text-align: center;
            padding: 15px 10px;
            transition: opacity ease-out .5s;
            background: white;
            z-index: 1100;
            font-weight: 500;
        }
        &.error p {
            border: 2px solid $error;
            color: $error;
        }
    }

}

@media screen and (max-width: 1028px) {
    .feedback-card p {
        width: 44vw;
        margin-left: -22vw;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 720px) {
    .feedback-card p {
        width: 60vw;
        margin-left: -30vw;
        min-width: 300px;
    }
}

@media screen and (max-width: 400px) {
    .feedback-card p {
        width: 86vw;
        margin-left: -43vw;
        min-width: unset;
    }
}
