<!-- Primary Meta Tags -->
<title>CUMBIA</title>
<meta name="title" content="CUMBIA">
<meta name="description" content="Un grupo de fotógrafos, directores y productores en la búsqueda constante de mantener un equilibrio entre el arte y los proyectos comerciales.
Estimulados por la pasión por la fotografía y las artes visuales, Cumbia se construye sobre el equilibrio de un trabajo original, con un equipo comprometido con la producción de contenidos de alta calidad.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://cumbiavs.com/">
<meta property="og:title" content="CUMBIA">
<meta property="og:description" content="Un grupo de fotógrafos, directores y productores en la búsqueda constante de mantener un equilibrio entre el arte y los proyectos comerciales.
Estimulados por la pasión por la fotografía y las artes visuales, Cumbia se construye sobre el equilibrio de un trabajo original, con un equipo comprometido con la producción de contenidos de alta calidad.">
<meta property="og:image" content="/media/logos/cumbia-logo-negro-meta.jpg">
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="628" />
<meta property="og:image" content="/media/logos/cumbia-logo-negro-meta-sq.jpg">
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="400" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://cumbiavs.com/">
<meta property="twitter:title" content="CUMBIA">
<meta property="twitter:description" content="Un grupo de fotógrafos, directores y productores en la búsqueda constante de mantener un equilibrio entre el arte y los proyectos comerciales.
Estimulados por la pasión por la fotografía y las artes visuales, Cumbia se construye sobre el equilibrio de un trabajo original, con un equipo comprometido con la producción de contenidos de alta calidad.">
<meta property="twitter:image" content="/media/logos/cumbia-logo-negro-meta.jpg">
