<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" />
    {% comment %}
    <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/static/assets/img/favicon.png">
    {% endcomment %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'src/js/dropzone.js' %}"></script>
    <link href="{% static 'dist/app.css' %}" rel="stylesheet" >
    <script src="https://kit.fontawesome.com/3e468f00c2.js" crossorigin="anonymous"></script>
    <title>Cumbia</title>
</head>
<body>
{% if edit_mode %}
    <div id="edit-mode"></div>
{% endif %}
    <script defer src="{% static 'dist/bundle.js' %}" type="text/javascript"></script>
    <main class="main-grid">
    

{% if segment != 'auth' %}
    {% block bigheader %}{% endblock bigheader %}
    {% include 'portfolio/components/l-col.html' %}
{% endif %}
    
    <section class="base-center center">
        <div class="center-cx">
            {% block center %}{% endblock center %}
        </div>
    </section>
    
{% if segment != 'auth' %}
    {% block main %}{% endblock main %}
    {% include 'portfolio/components/r-col.html' %}
    <nav class="action-bar">
        
        {% include 'portfolio/components/buttons/create-ph-btn.html' %}

        <div class="extra-actions">
            {% block extra_actions %}{% endblock extra_actions %}
        </div>
        
        {% include 'portfolio/components/buttons/logout-btn.html' %}
        
    </nav>
    {% comment %} {% include 'portfolio/components/footer.html' %} {% endcomment %}
{% endif %}
    
    </main>
</body>
</html>