<!DOCTYPE html>
{% load static %}
{% load extra_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" />

    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="https://use.typekit.net/frh1wpm.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'src/js/dropzone.js' %}"></script>
    <link href="{% static 'dist/app.css' %}" rel="stylesheet" >
    
    <title>CUMBIA</title>
</head>
<body>
{% if edit_mode %}
    <div id="edit-mode"></div>
{% endif %}
    <script defer src="{% static 'dist/bundle.js' %}" type="text/javascript"></script>
    <main class="main-grid">
    

{% if segment != 'auth' %}
    {% block bigheader %}{% endblock bigheader %}
    {% include 'portfolio/components/l-col.html' %}
{% endif %}
    
    <section class="base-center center">
        <div class="center-cx">
            {% block center %}{% endblock center %}
        </div>
    </section>
    
{% if segment != 'auth' %}
    {% block main %}{% endblock main %}
    
    {% include 'portfolio/components/r-col.html' %}

    {% if edit_mode %}
    <nav class="action-bar">

    <div class="l-actions">
        {% action_btn '+ PH' 'create-ph' 'main' url='portfolio:ph_create' %}
    </div>

        <div class="extra-actions">
            {% block section_actions %}{% endblock section_actions %}
        </div>
    <div class="r-actions">
        {% action_btn 'LOGOUT' 'logout' 'main' url='portfolio:logout' %}
    </div>        

    </nav>
    {% else %}
    {% include 'portfolio/components/footer.html' %}
    {% endif %}
{% endif %}
    
    </main>
</body>
</html>